#mailbox {
	display: flex;
	flex-direction: column;
	color: $text-primary__color--dark;
	background-color: $bg-accent__color-1;
	min-width: 20em;

	.empty {
		color: rgba(0, 0, 0, 0.1);
		font-size: 3em;
	}

	.head {
		font-size: round($font-size * 1.125);
		justify-content: initial;
		background-color: lighten($bg-accent__color-1, 5%);
		box-shadow: $shadow-1;
		z-index: 1;

		.id {
			flex-grow: 1;
			padding: 0 25px;

			.name {
				font-weight: 500;
			}

			.typing {
				font-style: italic;
			}
		}

		.btn {
			&:hover {
				background-color: $transparent-secondary__color--dark;
			}

			&:not(last-child) {
				border-left: 1px $divider__color--dark solid;
			}
		}
	}

	.content {
		flex-grow: 1;
		display: flex;

		.main {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			z-index: 0;

			.inbox {
				overflow: auto;
				flex: 1 0 1px;
				z-index: -1;

				> div {
					overflow: auto;
				}

				.groups {
					padding: 10px 0;

					.clear {
						height: 1px;
						margin-top: -1px;
					}
				}

				.group {
					.header {
						.time {
							text-align: center;
							color: $text-secondary__color--dark;
							line-height: 2;
							font-weight: 500;
							user-select: none;
						}
					}

					.container {
						display: flex;
						align-items: flex-end;
						padding: 0px 10px;
						margin: 10px 0;

						.author {
							margin: 0 5px;
						}

						.list {
							margin: 0 5px;
							max-width: 60%;
						}

						.message {
							display: flex;
							flex-direction: row;
							color: $text-primary__color--dark;
							margin: 1px 0;

							&:first-child {
								.wrapper {
									.content {
										border-radius: 2em 2em 2em 0;
									}
								}
							}

							&:hover {
								.options {
									opacity: 1;
								}
							}

							.fetching {
								padding: 10px 0;
							}

							.wrapper {
								margin: 0 5px;

								.content {
									position: relative;
									background: #ffffff;
									border-radius: 0 2em 2em 0;
									padding: round($font-size * 0.6) round($font-size * 0.85);
									word-break: break-word;
									white-space: pre-wrap;
									font-weight: 300;
									box-shadow: $shadow-2;
								}
							}

							.options {
								display: flex;
								align-items: center;
								flex-shrink: 0;
								opacity: 0;
								transition: opacity 0.1s;
								will-change: opacity;

								.btn {
									padding: round($font-size * 0.15);
									font-size: round($font-size * 1.5);
								}
							}
						}
					}

					&.right {
						.container {
							flex-direction: row-reverse;

							.message {
								flex-direction: row-reverse;

								&:first-child {
									.wrapper {
										.content {
											border-radius: 2em 2em 0 2em;
										}
									}
								}

								.wrapper {
									.content {
										background: $bg-primary__color-30;
										color: $text-primary__color--light;
										border-radius: 2em 0 0 2em;
									}
								}
							}
						}
					}
				}
			}

			.bottom {
				display: flex;
				align-items: center;
				background-color: lighten($bg-accent__color-1, 5%);
				flex: 0 0 auto;
				box-shadow: $shadow-1;
				position: relative;

				> * {
					margin-right: 5px;
				}

				.input {
					flex-grow: 1;
					max-height: 10em;
					padding: 15px;
					word-break: break-word;
					box-sizing: border-box;
					outline: none;
					cursor: text;
					overflow-y: auto;

					.public-DraftEditorPlaceholder-inner {
						position: absolute;
						color: $text-secondary__color--dark;
						color: $text-disabled__color--dark;
						pointer-events: none;
					}

					.emoji {
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
						vertical-align: middle;
						display: inline-block;
						overflow: hidden;
						max-width: 1.95ch;
						max-height: 1em;
						line-height: inherit;
						color: transparent;
						min-width: 1em;
						margin: 0 1px;

						span {
							display: inline-block;
							overflow: hidden;
							text-indent: -100%;
						}
					}
				}

				.btn {
					font-size: round($font-size * 1.55);
					padding: round($font-size * 0.715);
				}

				.emoji-mart {
					position: absolute;
					bottom: 100%;
					right: 20px;
					z-index: -1;
					border-width: 1px 1px 0px;
					border-radius: 10px 10px 0px 0px;
					border-style: solid;
					border-color: #d9d9d9;
				}
			}
		}

		.aside {
			margin-right: -300px;
			flex: 0 0 300px;
			background-color: $bg-primary__color-20;
			transition: margin-right 750ms cubic-bezier(0.23, 1, 0.32, 1);
			will-change: margin-right;

			&.active {
				margin-right: 0;
			}
		}
	}
}
