#mailbox {
	display: flex;
	flex-direction: column;
	color: $text-primary__color--dark;
	background-color: $bg-accent__color-1;
	z-index: 0;

	.empty {
		color: rgba(0, 0, 0, 0.1);
		font-size: 3em;
	}

	.head {
		font-size: round($font-size * 1.125);
		justify-content: initial;
		background-color: $transparent-secondary__color--light;
		box-shadow: $shadow-1;
		z-index: 2;

		.id {
			flex-grow: 1;
			padding: 0 25px;

			.name {
				font-weight: 500;
			}

			.typing {
				font-style: italic;
			}
		}

		.btn {
			&:hover {
				background-color: $transparent-secondary__color--dark;
			}

			&:not(last-child) {
				border-left: 1px $divider__color--dark solid;
			}
		}
	}

	.content {
		flex-grow: 1;
		display: flex;

		.main {
			flex-grow: 1;
			display: flex;
			flex-direction: column;

			.inbox {
				overflow: auto;
				flex: 1 0 1px;

				.groups {
					overflow: auto;
				}

				.group {
					.header {
						.time {
							text-align: center;
							color: $text-secondary__color--dark;
							line-height: 2;
							font-weight: 500;
							user-select: none;
						}
					}

					.container {
						display: flex;
						align-items: flex-end;
						padding: 0px 10px;
						margin: 10px 0;

						.author {
							margin: 0 5px;
						}

						.list {
							margin: 0 5px;
						}

						.message {
							display: flex;
							flex-direction: row;
							color: $text-primary__color--dark;
							margin: 1px 0;
							transition: background-color 0.1s;
							will-change: background-color;

							&:first-child {
								.wrapper {
									.content {
										border-radius: 2em 2em 2em 0;
									}
								}
							}

							&:hover {
								.options {
									opacity: 1;
								}
							}

							.fetching {
								padding: 10px 0;
							}

							.wrapper {
								margin: 0 5px;
								max-width: 60%;

								.content {
									position: relative;
									background: #ffffff;
									border-radius: 0 2em 2em 0;
									padding: round($font-size * 0.6) round($font-size * 0.85);
									word-break: break-word;
									white-space: pre-wrap;
									font-weight: 300;
									box-shadow: $shadow-2;
								}
							}

							.options {
								display: flex;
								align-items: center;
								flex-shrink: 0;
								opacity: 0;
								transition: opacity 0.1s;
								will-change: opacity;

								.btn {
									width: round($font-size * 1.5);
									height: round($font-size * 1.5);
									font-size: round($font-size * 1.5);
								}
							}
						}
					}

					&.right {
						.container {
							flex-direction: row-reverse;

							.message {
								flex-direction: row-reverse;

								&:first-child {
									.wrapper {
										.content {
											border-radius: 2em 2em 0 2em;
										}
									}
								}

								.wrapper {
									.content {
										background: $bg-primary__color-30;
										color: $text-primary__color--light;
										border-radius: 2em 0 0 2em;
									}
								}
							}
						}
					}
				}
			}

			.bottom {
				display: flex;
				align-items: center;
				background-color: $transparent-secondary__color--light;
				flex-shrink: 0;
				box-shadow: $shadow-1;
				z-index: 1;

				> * {
					margin-right: 5px;
				}

				.input {
					flex-grow: 1;

					textarea {
						padding: 10px 15px;
						box-sizing: border-box;
					}
				}

				.btn {
					height: round($font-size * 3);
					width: round($font-size * 3);
					font-size: round($font-size * 1.725);
				}
			}
		}

		.aside {
			margin-right: -300px;
			flex: 0 0 300px;
			background-color: $bg-primary__color-20;
			transition: margin-right 750ms cubic-bezier(0.23, 1, 0.32, 1);
			will-change: margin-right;

			&.active {
				margin-right: 0;
			}
		}
	}
}
