#menu {
	display: flex;
	flex-direction: column;
	background: repeating-linear-gradient(to right, #222435 0%, #1a1b28 100%);
	transition: margin-left 750ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	will-change: margin-left;
	width: 10vw;
	min-width: 250px;
	margin-left: calc(-10vw - 250px);

	&.active {
		margin-left: 0px;
	}

	.head {
		padding: 0 25px 0 30px;
		font-size: 1.5em;

		.btn {
			height: 1em;
			width: 1em;
			font-size: 1em;
			padding: 5px;
			box-sizing: content-box;
			color: $text-secondary__color--light;

			&:hover {
				background-color: $transparent-primary__color--light;
			}
		}
	}

	.wrapper {
		flex-grow: 1;
		padding: 0 20px;
		overflow: auto;

		.container {
			padding: 20px 0;
			color: $text-secondary__color--light;
			font-weight: 500;

			.line {
				display: flex;
				justify-content: space-between;
				border-radius: 4px;
				padding: 12px;

				&:hover {
					color: $text-primary__color--light;
					background-color: $transparent-primary__color--dark;
				}
			}
		}
	}
}
