#app {
	display: flex;
	height: 100vh;

	.head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-basis: 70px;
		flex-shrink: 0;
	}

	.separator {
		margin: 16px 0;
		border-bottom: 1px $divider__color--light solid;
	}

	.btn {
		user-select: none;
		cursor: pointer;
		text-decoration: none;
		font-size: inherit;

		&.btn-big {
			position: relative;
			height: 70px;
			width: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			line-height: 0;
			font-size: round($font-size * 1.75);
			color: inherit;

			> * {
				color: inherit;
			}
		}
	}

	.align--center {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	.align--bottom {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}

	.item--empty {
		text-align: center;
		font-size: 2em;
		font-weight: 600;
		color: rgba(255, 255, 255, 0.1);
		user-select: none;
	}

	span.emoji {
		background-position: center;
		/* make sure the background the image is only shown once */
		background-repeat: no-repeat;
		background-size: contain;
		/* move it a bit further down to align it nicer with the text */
		vertical-align: middle;
		/*
			We need to limit the emoji width because it can be multiple characters
			long if it is a 32bit unicode. Since the proper width depends on the font and
			it's relationship between 0 and other characters it's not ideal. 1.95ch is not
			the best value, but hopefully a good enough approximation for most fonts.
		*/
		display: inline-block;
		overflow: hidden;
		max-width: 1.95ch;
		/*
			Needed for iOS rendering to avoid some icons using a lot of height without
			actually needing it.
		*/
		max-height: 1em;
		line-height: inherit;
		margin: -0.2ex 0em 0.2ex;
		/*
			In the past we used opacity: 0 to hide the original Emoji icon no matter what
			system it is. Recently we switched to color: transparent since it started to
			work in recent iOS version.
		*/
		color: transparent;
		/*
			Some SVG files (say 2764 for :heart:) don't have default width/height, thus
			may not be rendered properly on some platforms/browsers (e.g., Windows 10 +
			Chrome 61).
		*/
		min-width: 1em;
	}
}
