#app {
	display: flex;
	height: 100vh;

	.head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-basis: 70px;
		flex-shrink: 0;
	}

	.separator {
		margin: 16px 0;
		border-bottom: 1px $divider__color--light solid;
	}

	.btn {
		user-select: none;
		cursor: pointer;
		text-decoration: none;
		font-size: inherit;

		&.btn-big {
			position: relative;
			height: 70px;
			width: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			line-height: 0;
			font-size: 1.75em;
			color: inherit;

			> * {
				color: inherit;
			}
		}
	}
}
